---

---

!doctype html>
<html lang="en">
  <head>
    <meta
      name="title"
      content="Luis Medina - Desarrollador Frontend | Creación de Páginas Web Responsivas y Funcionales"
    />
    <meta
      name="description"
      content="Soy Luis Medina, desarrollador frontend especializado en la creación de sitios web atractivos, funcionales y optimizados. Ofrezco servicios personalizados para tu proyecto. ¡Hablemos!"
    />
    <meta
      name="keywords"
      content="desarrollador frontend, desarrollo web, páginas web personalizadas, diseño web, Astro, Vue, TailwindCSS, JavaScript, desarrollo responsivo, optimización web, SEO técnico"
    />
    <meta name="robots" content="index, follow" />
    <meta
      property="og:title"
      content="Luis Medina - Desarrollador Frontend | Creación de Páginas Web Responsivas y Funcionales"
    />
    <meta
      property="og:description"
      content="Soy Luis Medina, desarrollador frontend especializado en crear páginas web optimizadas, modernas y personalizadas para cada proyecto. Contáctame para más información."
    />
    <meta property="og:image" content="URL_DE_LA_IMAGEN_DE_PORTADA" />
    <meta property="og:url" content="URL_DE_TU_PORTAFOLIO" />
    <meta property="og:type" content="website" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>Luis Medina - Desarrollador Frontend</title>
  </head>
  <body>
    <div
      class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#000033_100%)]">
    </div>
    <slot />
  </body>
</html>
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
